<footer class="notepad-site-footer">
    <div class="copyright">
         <!-- <section>Last updated {{ site.time | date: '%Y / %m / %d' }}</section></br> -->
         <section>Last updated {{ site.time | date: "%A, %d %b %Y" }} at {{ site.time | date: "%I:%M %p" }} CST</section></br>
         <section>All content exclusively maintained by <a href="http://shahmoradi.org" target="_blank">{{ site.owner.name }}</a> <!-- &copy;--> </section></br>
         <section><a class="icon-ghost" href="http://www.ae.utexas.edu/" target="_blank">Department of Aerospace Engineering and Engineering Mechanics</a></section></br>
         <section><a class="icon-ghost" href="https://www.ices.utexas.edu/" target="_blank">Institute for Computational Engineering and Sciences | POB 6.328</a></section></br>
         <section><a class="icon-ghost" href="http://www.utexas.edu/" target="_blank">The University of Texas at Austin</a></section></br>
         <section>201 E 24th Street, Stop C0200</section></br>
         <section>Austin, TX 78712-1229</section>
    </div>
    <div class="social-icons">
        
        {% if site.owner.twitter %}
        <a href="http://twitter.com/{{ site.owner.twitter }}" target="_blank">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
        </a>
        {% endif %}
        {% if site.owner.google_plus %}
        <a href="{{ site.owner.google_plus }}" target="_blank">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-google-plus fa-stack-1x"></i>
            </span>
        </a>
        {% endif %}
        {% if site.owner.instagram %}
        <a href="http://instagram.com/{{ site.owner.instagram }}" target="_blank">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-instagram fa-stack-1x"></i>
            </span>
        </a>
        {% endif %}
        {% if site.owner.github %}
        <a href="http://github.com/{{ site.owner.github }}" target="_blank">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-github fa-stack-1x"></i>
            </span>
        </a>
        {% endif %}
        {% if site.owner.facebook %}
        <a href="http://facebook.com/{{ site.owner.facebook }}" target="_blank">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
        </a>
        {% endif %}
    </div>
    
    <div class="cf"></div>
</footer>